@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Roboto:wght@300&display=swap');

:root {
    --primClr: #00b9ff;
    --secClr: #384955;
    --tercClr: #dda25a;
    --accentClr: #a26e29;
    --primFont: 'Roboto', sans-serif;
    --secFont: 'Gentium Book Plus', serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primClr);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 3px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.dropbtn:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: var(--secClr);
    font-family: var(--primFont);
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}


/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secClr);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: var(--secFont);
}

/* Add a dark background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #242e35;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}